{% extends 'users/base.html' %}
{% load static %}


{% block title %}
    <title>To Do List</title>
{% endblock %}


{% block content %}
    <h1 class="index-title">
        <a class="index-title-link" href="{% url 'index' %}">To Do List</a>
    </h1>
    <div class = bg-to-authorization>
        <a class="to-authorization" href="{% url 'users:authorization' %}">вход</a>
    </div>

    <div class="quote-block">
        <p class="quote">«Мы обязаны сделать это тяжелое дело. Вернее, легкое дело. Вернее, среднее. Вернее,
            средне-тяжелое с примесью трудных моментов легкого дела»<br><br>@ Губка Боб Квадратные Штаны</p>
    </div>
{% endblock %}