/* general
   ========================================================================== */

input::placeholder {
    color: #9E9292;
    font-size: 22px;
    font-style: Italic;

    text-align: center;
}

input:focus {
  border-color: #D98326;
}

button {
    width: 154px;
    height: 36px;

    background-color: #4C99B2;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    cursor: pointer;
}

.bg-window {
    width: 808px;
    height: 527px;

    background-color: #F1ECE6;
    border: 1px solid #000000;
    border-radius: 50px;

    margin: 70px auto;
    position: relative;

}

.left-bg-line {
    width: 400px;

    border: 0.1px solid #1E1E1E;
    opacity: 0.5;

    top: 260px;
    left: 400px;
    position: absolute;

    transform: rotate(-90deg);
}

.right-bg-line {
    width: 400px;

    border: 0.1px solid #1E1E1E;
    opacity: 0.5;

    top: 260px;

    position: absolute;

    transform: rotate(-90deg);
}


/* index
   ========================================================================== */

.index-title {
    margin: 0;
    font-family: Inter;
    font-size: 96px;
    color: #4C99B2;

    position: absolute;
    left: 160px;
    top: 140px;
}

.index-title-link {
    text-decoration: none;
    font-family: Inter;
    font-size: 96px;
    color: #4C99B2;
}

.quote-block {
    width: 550px;
    height: 210px;

    background-color: #FFFFFF;
    border: 1px solid #D98326;

    position: absolute;
    left: 120px;
    bottom: 50px;
}

.quote {
    text-align: justify;
    max-height: 125px;
    width: 400px;

    font-family: Poppins, Bold, sans-serif;
    font-size: 18px;

    padding: 30px;

    position: absolute;
    left: 45px;
}

.quote::before {
    content: "";
    background: url("../img/users/quote-sign.svg");
    transform: rotate(180deg);

    width: 25px;
    height: 25px;

    position: absolute;
    left: 0;
    top: 0;
}

.quote::after {
    content: "";
    background: url("../img/users/quote-sign.svg");

    width: 25px;
    height: 25px;

    position: absolute;
    right: 0;
    bottom: 0;
}

.bg-to-authorization {
    width: 140px;
    height: 45px;

    background-color: #4C99B2;
    border-radius: 20px 0 0 20px;

    position: absolute;
    left: 667.5px;
    top: 100px;
}

.to-authorization {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;

    position: absolute;
    left: 45px;
    top: 8px;
}


/* authorization
   ========================================================================== */

.to-registration {
    margin: 0;
    font-family: Poppins;
    font-size: 15px;
    color: #D98326;

    position: absolute;
    right: 360px;
    bottom: 85px;
}

.to-recovery {
    margin: 0;
    font-family: Poppins;
    font-size: 15px;
    color: #D98326;

    position: absolute;
    right: 353px;
    bottom: 60px;
}

.authorization-title {
    margin: 0;
    font-family: Inter;
    font-size: 96px;
    color: #4C99B2;

    position: absolute;
    left: 282px;
    top: 102px;
}

.authorization-button {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;

    position: absolute;
    right: 328px;
    bottom: 130px;
}

.authorization-email-field {
    width: 272px;
    height: 38px;

    color: #D98326;

    position: absolute;
    right: 267px;
    bottom: 245px;

    outline-color: #D98326;
    border: none;

    margin: 0;
    font-family: Poppins, Bold, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #9E9292;

    text-align: center;
}

.authorization-password-field {
    width: 272px;
    height: 38px;

    outline-color: #D98326;
    border: none;

    position: absolute;
    right: 267px;
    bottom: 190px;

    margin: 0;
    font-family: Poppins, Bold, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #9E9292;

    text-align: center;
}


/* password-reset
   ========================================================================== */

.password-reset-title {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: black;

    position: absolute;
    right: 140px;
    top: 285px;

    transform: rotate(-90deg);
}

.password-reset-sign {
    position: absolute;
    right: 320px;
    top: 110px;
}

.password-reset-button {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;

    position: absolute;
    right: 328px;
    bottom: 110px;
}

.password-reset-email-field {
    width: 272px;
    height: 38px;

    color: #D98326;

    position: absolute;
    right: 267px;
    bottom: 180px;

    outline-color: #D98326;
    border: none;

    margin: 0;
    font-family: Poppins, Bold, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #9E9292;

    text-align: center;
}


/* password-reset-confirm
   ========================================================================== */

.password-reset-confirm-title {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: black;

    position: absolute;
    right: 160px;
    top: 285px;

    transform: rotate(-90deg);
}


.password-reset-confirm-sign {
    position: absolute;
    right: 320px;
    top: 97px;
}

.password-reset-confirm-button {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;

    position: absolute;
    right: 328px;
    bottom: 70px;
}

.password-reset-confirm-password-set-field {
    width: 272px;
    height: 38px;

    outline-color: #D98326;
    border: none;

    position: absolute;
    right: 267px;
    bottom: 190px;

    margin: 0;
    font-family: Poppins, Bold, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #9E9292;

    text-align: center;
}

.password-reset-confirm-password-confirm-field {
    width: 272px;
    height: 38px;

    outline-color: #D98326;
    border: none;

    position: absolute;
    right: 267px;
    bottom: 130px;

    margin: 0;
    font-family: Poppins, Bold, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #9E9292;

    text-align: center;
}


/* registration
   ========================================================================== */

.registration-title {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: black;

    position: absolute;
    right: 135px;
    top: 280px;

    transform: rotate(-90deg);
}

.registration-sign {
    position: absolute;
    right: 325px;
    top: 80px;
}

.registration-button {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;

    position: absolute;
    right: 328px;
    bottom: 70px;
}

.registration-email-field {
    width: 272px;
    height: 38px;

    color: #D98326;

    position: absolute;
    right: 267px;
    bottom: 250px;

    outline-color: #D98326;
    border: none;

    margin: 0;
    font-family: Poppins, Bold, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #9E9292;

    text-align: center;
}

.registration-password-set-field {
    width: 272px;
    height: 38px;

    outline-color: #D98326;
    border: none;

    position: absolute;
    right: 267px;
    bottom: 190px;

    margin: 0;
    font-family: Poppins, Bold, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #9E9292;

    text-align: center;
}

.registration-password-confirm-field {
    width: 272px;
    height: 38px;

    outline-color: #D98326;
    border: none;

    position: absolute;
    right: 267px;
    bottom: 130px;

    margin: 0;
    font-family: Poppins, Bold, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #9E9292;

    text-align: center;
}

.password-set-title {
    width: 272px;
    height: 38px;

    outline-color: #D98326;
    border: none;

    position: absolute;
    right: 360px;
    bottom: 207px;

    margin: 0;
    font-family: Poppins, Italic, sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #765858;

    text-align: center;
}

.password-confirm-title {
    width: 272px;
    height: 38px;

    outline-color: #D98326;
    border: none;

    position: absolute;
    right: 347px;
    bottom: 147px;

    margin: 0;
    font-family: Poppins, Italic, sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #765858;

    text-align: center;
}