{% load static %}

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block title %} {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
    </head>
    <body>
        <div class="bg-window">
            <a class="logout" href="{% url 'users:logout' %}">
                <img src="{% static 'img/users/logout.png' %}" alt="Выйти из аккаунта">
            </a>
            {% block task_types %} {% endblock %}
            <form action="{% url 'tasks:add_task' %}" method="POST">
                {% csrf_token %}
                {{ form.title }}
                <button class="add-task-button" type="submit">+</button>
            </form>
            <ul class="tasks">
                {% if page_obj %}
                    {% for task in page_obj %}
                        <li class="task">
                            {% if not task.is_completed %}
                                <a class="is-completed-task-icon" href="{% url 'tasks:change_task_status' task.id %}">
                                    <img src="{% static 'img/tasks/uncompleted-task-icon.png' %}" alt="Не выполнена">
                                </a>
                                <p class="uncompleted-task-title">{{ task.title }}</p>
                            {% else %}
                                <a class="is-completed-task-icon" href="{% url 'tasks:change_task_status' task.id %}">
                                    <img src="{% static 'img/tasks/completed-task-icon.png' %}" alt="Выполнена">
                                </a>
                                <p class="completed-task-title">{{ task.title }}</p>
                            {% endif %}
                            <a class="delete-task-icon" href="{% url 'tasks:delete_task' task.id %}">
                                <img src="{% static 'img/tasks/delete-task-icon.png' %}">
                            </a>
                            <hr class="task-underline">
                        </li>
                    {% endfor %}
                {% else %}
                    <div class="no-tasks">У вас ещё нет задач</div>
                {% endif %}
            </ul>
            {% if is_paginated %}
                {% block pagination %} {% endblock %}
            {% endif %}
            {% if page_obj %}
                <div class="tasks-clear">
                    <a class="tasks-clear-content" href="{% url 'tasks:delete_all_tasks' %}">
                        Очистить все задачи
                    </a>
                </div>
            {% endif %}
        </div>
        {% if messages %}
            {% include 'tasks/notifications/task-title-errors.html' %}
        {% endif %}
    </body>
</html>