{% extends 'users/base.html' %}
{% load static %}


{% block title %}
    <title>To Do List – Вход</title>
{% endblock %}


{% block content %}
    <hr class="left-bg-line">
    <h1 class="authorization-title">Вход</h1>
    <form action="{% url 'users:authorization' %}" method="POST">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <button class="authorization-button" type="submit">войти</button>
    </form>
    <a class="to-registration" href="{% url 'users:registration' %}">Нет аккаунта?</a>
    <a class="to-recovery" href="{% url 'password_reset' %}">Забыли пароль?</a>
    <hr class="right-bg-line">
{% endblock %}



{% block notification %}
    {% if form.non_field_errors or messages %}
        {% include 'users/notifications/authorization-errors.html' %}
    {% endif %}
{% endblock %}