{% extends 'users/base.html' %}
{% load static %}


{% block title %}
    <title>To Do List</title>
{% endblock %}

{% block content %}
    <h1 class="index-title">
        <a class="index-title-link" href="{% url 'index' %}">To Do List</a>
    </h1>
    <div class = bg-to-authorization>
        <a class="to-authorization" href="{% url 'users:authorization' %}">вход</a>
    </div>
    <img class="quote-block" src="{% static 'img/users/quote-gallery/quote1.png' %}" width="517" height="131" alt="Цитата">
{% endblock %}