{% extends 'users/base.html' %}
{% load static %}


{% block title %}
    <title>To Do List – Изменение пароля</title>
{% endblock %}

{% block content %}
    <hr class="left-bg-line">
    <h1 class="password-reset-confirm-title">Изменение пароля</h1>
    <img class="password-reset-sign" src="{% static 'img/users/password-reset-sign.png' %}" alt="Изменение пароля" height="150px" width="171px">
    <form method="POST">
        {% csrf_token %}
        <label class="password-set-title">введите</label>
        {{ form.new_password1 }}
        <label class="password-confirm-title">подтвердите</label>
        {{ form.new_password2 }}
        <button class="password-reset-confirm-button" type="submit">изменить</button>
    </form>
    <hr class="right-bg-line">
{% endblock %}