{% extends 'users/base.html' %}
{% load static %}


{% block title %}
    <title>To Do List – Восстановление доступа</title>
{% endblock %}

{% block content %}
    <hr class="left-bg-line">
    <h1 class="password-reset-title">Восстановление доступа</h1>
    <img class="password-reset-sign" src="{% static 'img/users/password-reset-sign.png' %}" alt="Восстановление доступа" height="171px" width="171px">
    <form method="POST">
        {% csrf_token %}
        {{ form.email }}
        <button class="password-reset-button" type="submit">запросить</button>
    </form>
    <hr class="right-bg-line">
{% endblock %}
