{% extends 'users/base.html' %}
{% load static %}


{% block title %}
    <title>To Do List - Восстановление доступа</title>
{% endblock %}

{% block content %}
    <hr class="left-bg-line">
    <h1 class="recovery-title">Восстановление доступа</h1>
    <img class="recovery-sign" src="{% static 'img/users/recovery-sign.png' %}" alt="Восстановление доступа" height="171px" width="171px">
    <form method="POST">
        <input type="text" placeholder="e-mail" class="recovery-email-field"><br>
        <button class="recovery-button" type="submit">запросить</button>
    </form>
    <hr class="right-bg-line">
{% endblock %}
