{% load static %}

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>To Do List - Восстановление доступа</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/users.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    </head>
    <body>
        <div class="recovery-window">
            <h1 class="recovery-title">Восстановление доступа</h1>
            <img class="recovery-sign" src="{% static 'img/users/recovery-sign.png' %}" alt="Восстановление доступа" height="171px" width="171px">
            <form method="POST">
                <input type="text" placeholder="e-mail" class="email-form"><br>
                <button class="recovery-button" type="submit">запросить</button>
            </form>
        </div>
    </body>
</html>