{% extends 'users/base.html' %}
{% load static %}


{% block title %}
    <title>To Do List – Регистрация</title>
{% endblock %}

{% block content %}
    <hr class="left-bg-line">
    <h1 class="registration-title">Создание нового аккаунта</h1>
    <img class="registration-sign" src="{% static 'img/users/registration-sign.png' %}" alt="Регистрация" height="140px" width="140px">
    <form action="{% url 'users:registration' %}" method="POST">
        {% csrf_token %}
        {{ form.username }}
        <label class="password-set-title">введите</label>
        {{ form.password1 }}
        <label class="password-confirm-title">подтвердите</label>
        {{ form.password2 }}
        <button class="registration-button" type="submit">создать</button>
    </form>
    <hr class="right-bg-line">
{% endblock %}

{% block notification %}
    {% if form.errors %}
        <div class="notification-popup">
            <a href="{% url 'users:registration' %}" class="notification-popup-close-area"></a>
            <div class="notification-popup-body">
                <div class="notification-popup-content">
                    <a href="" class="notification-popup-close"></a>
                    <div class="notification-popup-body-title">Ошибка:</div>
                    <div class="notification-popup-body-text">{{ form.errors }}</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}